body 
  padding 0
  margin 0
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,'Microsoft YaHei',arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.text-center
  text-align center
.h-center
  display block
  margin 0 auto
.color-red
  color red
.cursor-pointer
  cursor pointer
.display-inline-block
  display inline-block
.margin-right-20
  margin-right 20px
.header
  display flex
  align-items center
  padding 10px 0 10px 10px
  height 50px !important
  position relative
  border-bottom 1px solid #e6e6e6
.logo
  text-align center
  height 50px
  line-height 50px
  font-size 20px
  font-family 'Niconne'
.logo i 
  color #fc4c02
.breadcrumb
  padding-top 3px
.aside__menu
  min-height 100vh
  background #333
.aside__menu:not(.aside__menu_collapse)
  width 200px
.el-main
    background #f2f2f2
    padding 14px
.clearfix:after
  height 0
  display block
  clear both
  content ''
  overflow hidden
[class*=" el-icon-cc"],
[class^="el-icon-cc"]
  font-family "iconfont" !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.el-menu
    border none
.source
    padding 14px
.card-title
    color  #404852;
    margin-bottom  22px;
    text-transform capitalize;
.tag-nav__view-port
  background #fff
.tag-nav__btn,.tag-nav__btn button
  border-radius 0 !important
  border none
.tag-nav
  // padding 0 28px !important
  border-bottom 1px solid #e6e6e6
  background #fff !important
.tag-nav__list
  border none !important
.tag-nav__item:hover .tag-nav__dot
  background rgb(254, 183, 154)
.white-bg
  background #fff
// .el-row
//   margin 0 -7px
.card
  margin-bottom 14px
.flex-row
  margin 0 7px
.padd-row
  padding 0 7px
.system-setting
  width 50px
  height 50px
  line-height 50px
  border-left 1px solid #e6e6e6
  text-align center
  cursor pointer
  margin-left 10px
.system-setting :hover
  background #e6e6e6
.setting_side
  position fixed
  top 50px
  right 0
  bottom 0
  z-index 10
  height auto
  width 200px
  background #333
.tagnav_switch
  padding 14px
  color #fff
.marginL
  margin-left 10px
.el-form-add .el-input, .el-form-add .el-select,
.el-form-add .el-textarea,.el-form-add .el-card,
.el-form-add .el-input-number,.el-form-add .selectedItem, .el-form-add .leftSide
  width 450px
.el-form-add .leftSide .el-input
   width: 100%
.textAlignCenter 
  text-align: center
.el-form-add .el-input-number .el-input
  width 100%
.el-form-add .app-extend-params .el-input
    width 125px
.linkwork
   width 550px
.linkwork .el-input-number
   width 100%
.linkwork .line
   text-align center

.form-legend-header
  width 98%
  height 36px
  margin 8px 0px
  padding 0px 6px
  font-size 17px
  line-height 36px
  background #e5e9f2
  border-radius 4px

.resource-content-embed
  position absolute
  top 0
  width 100%
.remote-selector-wrapper + .el-button,
.remote-selector-wrapper + .el-dropdown
  margin-left 10px
.hint
  font-size 12px
  color #ce9797
.sf-item--Form
  .el-select
    width 100%
.remarks
  color #f2a04c
  font-size:  12px
.el-form-item__content .remarks
  font-size:  12px
.searchform .el-form-item__content
  width: 83.33333%
  .el-select
    width: 100%
.searchform .el-form-item
  margin-right: 0px
.searchform .el-form-item-submit
  width: 200px
.base-info
  padding: 10px

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus
  border-color #DCDFE6

.link
  text-decoration none
  color #409EFF


